<?xml version="1.0" encoding="utf-8"?>
<connectionStrings>
  <add name="KA_FASHION_BDEntities"
	   connectionString="metadata=res://*/EF.ENTITU.csdl|res://*/EF.ENTITU.ssdl|res://*/EF.ENTITU.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=localhost\SQLEXPRESS;initial catalog=KA_FASHION_BD;integrated security=True;trustservercertificate=True;MultipleActiveResultSets=True;App=EntityFramework&quot;"
	   providerName="System.Data.EntityClient" />
  <add name="KA_FASHION_BD_SQL"
	   connectionString="data source=localhost\SQLEXPRESS;initial catalog=KA_FASHION_BD;integrated security=True;trustservercertificate=True;MultipleActiveResultSets=True"
	   providerName="System.Data.SqlClient" />
</connectionStrings>
